{% extends 'base.html' %}

{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <h2>Your saved passwords</h2>
        <div>
        <a href="{{ url_for('passwords.add_password') }}"><button type="submit" class="btn btn-primary">Add new Password</button></a>
        </div>
        <br>
        <div>
        {% for pwd in pwds %}
            <div class="content">
                <p class="Name">
                    <b>
                        <a href="{{ url_for('passwords.show_password', password_id=pwd.id) }}">
                            {{ pwd.name }}
                        </a>
                    </b>
                </p>
                <div class="Website">
                    <p>{{ pwd.website }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}