{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Passwords {% endblock %}</h1></span>
    <div class="content">
        <h2>User defined passwords</h2>
        <a href="{{ url_for('passwords.add_password') }}"><button class="button is-block is-info is-large is-fullwidth" >Add new Password</button></a>
        <br>
        {% for pwd in pwds %}
            <div class="post">
                <p class="Name">
                    <b>
                        <a href="{{ url_for('passwords.show_password', password_id=pwd.id) }}">
                            {{ pwd.name }}
                        </a>
                    </b>
                </p>
                <div class="Website">
                    <p>{{ pwd.website }}</p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}