{% extends 'base.html' %}

{% block content %}
    <title>{% block title %} Passwords {% endblock %}</title>
    <div class="content">
        <h2>Password  {{ pwd.name }}</h2>
        <br>
            <div class="post">
                <p><b>{{ pwd.name }}</b></p>
                <div class="Website">
                    <p>Website: {{ pwd.website }}</p>
                </div>
                <div class="Value">
                    <p>Password: {{ pwd.value }}</p>
                </div>
                <div>
                    <form action="{{ url_for('passwords.del_password', password_id=pwd.id) }}" method="post">
                        <button class="button is-block is-info is-large is-fullwidth" >Delete Password</button>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}