{% extends 'base.html' %}

<span class="title"><h1>{% block title %} {{ pwd.name }} {% endblock %}</h1></span>

{% block content %}
    <title>{% block title %} Passwords {% endblock %}</title>
    <div class="content">
        <h2>Password  {{ pwd.name }}</h2>
        <br>
        <div class="post">
            <p><b>{{ pwd.name }}</b></p>
            <div class="Website">
                <p>Website: {{ pwd.website }}</p>
            </div>
            <div class="Value">
                <p>Password: {{ pwd.value }}</p>
            </div>
            <div>
                <form action="{{ url_for('passwords.del_password', password_id=pwd.id) }}" method="post">
                    <input type="hidden" id="user_input" name="user_input">
                    <button onclick="confirmAction()" type="submit" class="btn btn-danger">Delete Password</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function confirmAction(elem) {
            if(confirm('Are you sure you want to delete password?') == true) {
                document.getElementById("user_input").value = "True";
            }
            else {
                 document.getElementById("user_input").value = "False";
                 return 0;
            }
        }
    </script>
{% endblock %}